form.signup,
form.login {
  margin-top: 50px;
}
canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
body {
  background: black;
}
​#pageTitle{
  margin-top: 40px;
  margin-left: 20px;
  color:white;
}
​
.form-control {
  margin-left: 20px;
}
​
.menu {
  margin-top: 20px;
  margin-left: 20px;
}
​
.card-img-top {
  padding: 50px;
}
​
.card{
    margin-top: 20px;
}
#input{
  width: 285px;
}
#savedBtns{
  color: white;
}